%% -*- mode: erlang -*-
{erl_opts, [debug_info]}.
{deps, [
        {jiffy, ".*",
         {git, "https://github.com/davisp/jiffy", 
          {branch, "master"}}},
        {jsone, ".*",
         {git, "https://github.com/sile/jsone",
         {branch, "master"}}},
        {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}}
       ]}.
